

 {% include 'includes/nav.html' %}

 <div class="container-fluid">
      
  
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Add images
          <a href="../dashboard" class="btn btn-danger float-right" style="color: #ffffff; align-items: right" btn-lg float-right><i class="fa fa-home" aria-hidden="true"></i>
                    Exit</i></a>
                    <a onclick="goBack()" class="btn btn-info float-right"  style="color:#fff; margin-right: 10px"> <i class="fa fa-caret-left" aria-hidden="true"></i> Back</a>
    </div>
        <div class="card-body">
     
         <form method="POST" action="/api/cars/add_images/{{id}}" enctype="multipart/form-data">

		  <div class="form-group">
		  <div class="form-row">
		  
		  <div class="col-lg-6">
            <label for="exampleInputPassword1">Image</label>
          
               <input class="form-control" type="file" name="photo" id="fileToUpload">
         
		  
		  </div>
		  </div>
		  
		  
          <div class="modal-footer">
            <a href="" class="btn btn-secondary" type="button" >Cancel</a>
            <button name="edit" type="submit" class="btn btn-primary" >Submit</button>
          </div>
		  </form>
          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>
    </div>
    <script type="text/javascript">
      function goBack() {
  window.history.back();

}
</script>
{% include 'includes/footer.html' %}