{% include 'includes/nav.html' %}
<div class="container-fluid">

    <div class="card mb-3">
        <div class="card-header">
          
          <i class="fa fa-table"></i> My cars
     <a href="../dashboard" class="btn btn-danger float-right" style="color: #ffffff; align-items: right" btn-lg float-right><i class="fa fa-home" aria-hidden="true"></i>
                    Exit</i></a>
                    <a onclick="goBack()" class="btn btn-info float-right"  style="color:#fff; margin-right: 10px"> <i class="fa fa-caret-left" aria-hidden="true"></i> Back</a>
                    

                    <a data-toggle="modal" data-target="#addModal" class="btn btn-primary float-right"  style="color: #ffffff; margin-right: 10px"><i class="fa fa-plus-square" aria-hidden="true"></i> Add
                    Car</a>
    </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
          <th>id</th>
          <th>brand</th>
                  <th>charges</th>
                  <!-- <th>description</th> -->
                  <th>location</th>
                  <th>mileage</th>
                  <th>rating</th>
                  <th>regno</th>
                  <th>photo</th>
          <th>Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                   <th>id</th>
          <th>brand</th>
                  <th>charges</th>
                <!--   <th>description</th> -->
                  <th>location</th>
                  <th>mileage</th>
                  <th>rating</th>
                  <th>regno</th>
                  <th>photo</th>
          <th>Action</th>
                </tr>
              </tfoot>

             
              <tbody style="font-size:13px;">
                  {% for owned in data %}
                  <tr>
                   <td>{{owned.id}}</td>
           <td>{{owned.brand}} </td>
                   <td>{{owned.charges}} </td>
                  <!--  <td>{{owned.description}} </td> -->
                  <td>{{owned.location}} </td>
                  <td>{{owned.mileage}} </td>
                   <td>{{owned.rating}} </td>
                  <td>{{owned.regno}} </td>
                   <td>{{owned.photo}} </td>
                   <td>
          <div class="btn-group">
          <a href="" class="btn btn-success" data-toggle="tooltip" title="Edit car" ><i class="fa fa-fw fa-edit"></i>Edit car</a>
          <a href="" class="btn btn-danger" data-toggle="tooltip" title="Delete car" ><i class="fa fa-fw fa-trash"></i>Delete car</a>
            <a href="" class="btn btn-info" data-toggle="tooltip" title="" ><i class="fa fa-fw fa-eye"></i>View</a>
          </div>
          </td>
                
                </tr>
                {% endfor %}
              </tbody>
       
            </table>
          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="padding:10px;border-style:solid;border-width:5px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADD NEW CAR</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <form action="add-product-exec.php" method="POST" role="form" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label for="exampleInputPassword1">Product Code</label>
                            <input class="form-control" name="productCode" id="exampleInputPassword1" type="text"
                                   placeholder="Product Code" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="exampleInputPassword1">Description</label>
                            <input class="form-control" name="description" id="exampleInputPassword1" type="text"
                                   placeholder="Description" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="exampleInputPassword1">Selling price</label>
                            <input class="form-control" name="sellingPrice" id="exampleInputPassword1" type="text"
                                   placeholder="Selling price" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="exampleInputPassword1">Buying price</label>
                            <input class="form-control" name="buyingPrice" id="exampleInputPassword1" type="text"
                                   placeholder="Buying price" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="exampleInputPassword1">Quantity</label>
                            <input class="form-control" name="quantity" id="exampleInputPassword1" type="text"
                                   placeholder="Quantity" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="exampleInputPassword1">Taxcode</label>
                            <select class="form-control" name="taxCode">
                                
                                    
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="exampleInputPassword1">Category</label>
                            <select class="form-control" name="department">
                               
                                    <option value="<?php echo $name; ?>"><
                            </select>
                        </div>
                        <div class="col-lg-6">
                            <label for="exampleInputPassword1">Image</label>
                            <input class="form-control" type="file" name="fileToUpload" id="fileToUpload">

                        </div>

                    </div>
                </div>


                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button name="add" type="submit" class="btn btn-primary">ADD</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

$.ajax({
    url: 'http://localhost:5000/api/cars?offset=&count=',
    dataType: 'json',
    success: function(data) {
        for (var i=0; i<data.length; i++) {

            var row = $('<tr><td>' + data[i].brand+ '</td><td>' 
              + data[i].charges + '</td><td>' 
              + data[i].description + '</td></tr>'
              );
            
            $('#dataTable').append(row);


        }
        console.log(data);
    },
    error: function(jqXHR, textStatus, errorThrown){
        alert('Error: ' + textStatus + ' - ' + errorThrown);
    }
});



</script>
 <script type="text/javascript">
      function goBack() {
  window.history.back();

}
</script>
{% include 'includes/footer.html' %}